$bg_total_color:#EFF1F4;
$bg_conteudo:#FFFFFF;

$roxo:#BA78FF;

$font_hover:#f2f1f1;

$font_position:#707070;

$percentage_title:#f8f7f7;


$descricao:#909090;
$descricao_hover:#330d0e;

$like_contorno:#bec8c8;
$like:#2ECC71;
$unlike: #e74c3c;

$unlike_hover:#ffffff;
